<article class="standard-page">
  <header class="collection-header">
    <p class="eyebrow">ABOUT THIS JOURNAL</p>
    <h1><%- item.title || '页面' %></h1>
  </header>
  <% if (item.cover_image){ %>
    <img class="project-img standard-page-cover" src="<%- url_for(item.cover_image) %>" alt="<%- item.title || 'Untitled' %>">
  <% } %>
  <div class="portfolio-content standard-page-content"><%- item.content %></div>
</article>
